.btn{
    font-family: inherit;
    border: none;
    padding: 1rem 2rem;
    border-radius: .2rem;
    background: $clr-violet;
    color: $clr-white;
    font-size: .7rem;
}

.btn-search{
    @extend .btn;
    padding: .5rem;
    font-size: .6rem;
}
.btn-load{
    @extend .btn;
}